.lcsy-tabs {
  width: 100%;
  min-height: 200px;
  border: 1px solid black;
}
.lcsy-tabs-nav {
  width: 100%;
  height: 15%;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: left;
  align-items: end;
  position: relative;
  border-bottom: 1px solid #e5e7eb;
}
.lcsy-tabs-nav.centered {
  justify-content: center;
}
.lcsy-tabs-tab {
  text-align: center;
  line-height: 60px;
  padding: 0 0 0 10px;
  width: 60px;
  height: 70%;
  z-index: 1;
}
.lcsy-tabs-tab:hover {
  cursor: pointer;
  color: grey;
}
.lcsy-tabs-tab.active {
  color: #165dff;
  font-weight: 500;
}
.lcsy-tabs-tab.disabled {
  color: lightgrey;
  cursor: not-allowed;
}
/* 下划线指示器样式 */
.lcsy-tabs-indicator {
  position: absolute;
  bottom: -1px;
  left: 0;
  transition: transform 0.3s ease, width 0.3s ease;
  border-radius: 2px 2px 0 0;
}
.lcsy-tabs-content {
  width: 100%;
  min-height: 100px;
}
