.lcsy-modal-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  z-index:0
}
.lcsy-modal {
  position: fixed;
  z-index: 3;
  left: 100px;
  top: 100px;
  border-radius: 10px;
  width: 500px;

  background-color: white;
  display: flex;
  flex-direction: column;
}
.lcsy-modal-inner {
  padding: 25px;
}

.lcsy-modal-title {
  width: 100%;
  height: 40px;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
}
.lcsy-modal-content {
  font-size: 15px;
}
.lcsy-modal-footer {
  width: 100%;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}
.lcsy-modal-actions {
  margin-right: 10px;
  display: flex;
}
.lcsy-btn {
  padding: 5px 10px;
  color: white;
  border-radius: 5px;
}
.lcsy-btn-cancel {
  margin-right: 10px;
  background-color: rgb(25, 60, 237);
}
.lcsy-btn-ok {
  background-color: rgb(25, 60, 237);
}
